.wave {
    display: inline-block;
    animation: wave .5s infinite linear;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(27deg);
    }
    100% {
        transform: rotate(0deg);
      }
  }



#interests {
    padding-top: 10px;
    padding-bottom: 15px;
    background: linear-gradient(to bottom , #6bb0ff63 60%, #ffffff 100%);
    // background-color: rgb(193, 197, 255);
    color: black;
    text-align: center;
    color: white;
    border-top: 5px #000000;
    height: 400px;
    margin-top: 0;
    overflow:auto;
    border-radius: 5px 5px 0px 0px; 
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#interests-text > p {
    margin-top: .5em;
    color: rgb(61, 61, 61);
    text-shadow: 2px 2px white;

}

#squiggle{
    background-image: none;
    padding-bottom: 15px;

}

#more-content-text > p {
    margin-top: 0;
}

#interests-text { 
    color: linear-gradient(to top, #000000 0%, #ffffff 100%); 
    
}

#more-content {
    padding-top: 10px;
    background: linear-gradient(to top,  #6bb0ff63  0%, #ffffff 100%);

    margin-top: 0;
}




.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#mobile-line {
    visibility: hidden;
}

mat-divider {
    visibility: hidden;
}

/* iPads (portrait) ----------- */
@media only screen 

and (max-device-width : 767px) 
and (orientation : portrait) {
/* Styles */

    #hi-text {
        text-align: left;
    }

    #more-content {
        // margin-top: -36em;
        background-image: none;
        margin-top: -1em;
    }

    #mobile-line {
        visibility: visible;
    }

    #interests {
        height: 100%;
        overflow: auto;
    }

    #name-content {
        text-align: left;
    }

    #squiggle{
        // background-image: linear-gradient(to bottom, #ffffff 60%, #6bb0ff  70%);
        padding-bottom: 15px;
    }

    #more-content-text > p {
        
        margin-top: 2em;
        font-size: 80%;
        border: 5px #000000 5px;
    }

    #interests-text > p {
        margin-top: .2em;
    }

    #divider-container {
        margin-left: 16%;
    }

    mat-divider {
        text-align: center;
        visibility: visible;
        width: 80%
    }
}