
<h2>Hi! <span class="wave">👋</span></h2>
<p>
  My name is Matthew Rice and I am a student studying Computer Science at Louisiana Tech University in Ruston, LA.
</p>
<p>
  My interests as a technologist include web development and architecture, cloud computing, containerization, distributed architectures, and developing intuitive and unique UI/UX experiences. 
  I also have creative aspirations which drive me to draw, create music, design clothing, among other things. 
</p>
<p>As school comes winding to a close in the next few months, I hope to find more time to add some actual content to this site: maybe a blog, some detailed explanations of projects that I've worked on, etc. But, for now, enjoy the minimilist feels.</p>
