.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#background-block {
    transform: skewX(15deg)
}

#right-circle {

    animation: moveleft 2s, spin-scale 4s linear infinite;

}

#left-square {
    height: 200px; width: 200px;
    z-index: 0;
    animation: grow 2s ;
}

/* iPads (portrait) ----------- */
@media only screen 

and (max-device-width : 850px) 
and (orientation : portrait) {
/* Styles */

    // #left-blob {
    //     width:100px;
    //     height:100px;
    // }
}

@keyframes grow {
    0% {
      height: 100px;
    }
    100% {
      height: 200px;
    }
  }

  @keyframes spin-scale { 
    50%{
        transform: rotate(360deg) scale(1.2);
    }
    100% { 
        transform: rotate(720deg) scale(1);
    } 
}

  @keyframes moveleft {
    0% {
        right: -300px;
    }
    100% {
        right: -40px;
    }
  }

