.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#background-block {
    transform: skewX(15deg)
}

#left-square {
    height: 200px; width: 200px;
}

/* iPads (portrait) ----------- */
@media only screen 

and (max-device-width : 850px) 
and (orientation : portrait) {
/* Styles */

    // #left-blob {
    //     width:100px;
    //     height:100px;
    // }
}
