.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

#background-block {
    transform: skewX(15deg)
}

#right-circle {

    animation: moveleft 2s, spin-scale 4s linear infinite;

}

#left-square {
    height: 200px; width: 200px;
    z-index: -1;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
    animation: grow 4s infinite;
    
}

#bouncing-ball {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: bounce 3s linear infinite, spin-scale 2s infinite;
}

#triangle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    z-index: -2;
    background-image: linear-gradient(to  right, rgb(234, 255, 176),rgb(255, 255, 255))

  }


#bottom-spin-ball-holder {
    text-align: right;
    position: absolute;
    width: 400px;
    bottom: 7em;
    left: 7em;
    animation: rotate 3s infinite linear;
}
#bottom-right-spinning-ball {
   position: relative;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: rgb(247, 247, 125);
}

#top-spin-ball-holder {
    text-align: right;
    position: absolute;
    width: 200px;
    top: 4em;
    left: -7em;
    z-index: 4;
    animation: rotate 4s infinite reverse linear;
}
#top-left-spinning-ball {
   position: relative;
    width:50px;
    height:50px;
    border-radius: 50%;
    
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to  right, rgb(227, 133, 255),rgb(255, 255, 255));
    animation: rotate 4s infinite  linear;
}

mat-card {
    max-width: 700px;
}

/* iPads (portrait) ----------- */
@media only screen 

and (max-device-width : 850px) 
and (orientation : portrait) {
/* Styles */

    // #left-blob {
    //     width:100px;
    //     height:100px;
    // }
}

@keyframes grow {
    0% {
      height: 100px;
    }
    50% {
      height: 300px;
    }
    100% {
        height: 100px;
      }
  }

  @keyframes spin-scale { 
    50%{
        transform: rotate(360deg) scale(1.2);
    }
    100% { 
        transform: rotate(720deg) scale(1);
    } 
}

  @keyframes moveleft {
    0% {
        right: -300px;
    }
    100% {
        right: -40px;
    }
  }

  @keyframes bounce {
    0% {
        bottom: 1em;
    }
    50% {
        bottom: 15em;
    }
    100% {
        right: 1em;
    }
  }

  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

