
<div>
    <mat-toolbar>
        <span class="header-title"><strong>Matthew Rice</strong></span>
        <div style="display: inline; text-align: right; width: 100%">
            <img src="../assets/face.png" alt="Picture of me" class="face">
        </div>
      </mat-toolbar>
  
  <div style="text-align: right;">
      <nav mat-tab-nav-bar>
          <a mat-tab-link
             *ngFor="let link of navLinks"
             [routerLink]="link.route"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
  </div>
</div>

<div style="margin-right: 1em;" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" >
    <router-outlet #o="outlet"></router-outlet>
</div>

