#header-name {
    padding-left: 10px;
    text-align: left;
}

.face {
    width: 100px;
    height: 100px;

    padding-top: 50px;
    padding-left: 10px;



}

.mat-tab-link {
    padding: 0 18px;
}

.mat-tab-link:first-of-type {
    padding: 0 22px;
}