
#blog-page-content {
    margin-left: 14em;
    margin-right: 14em;
    margin-top: 2em;
    text-align: left;
}

.blog-header {
    margin: 7px;
}

.blog-secondary-info {
    text-align: left;
    font-family: 'Roboto Mono';
    font-size: 13px;
    padding-left: 2em;
    margin-top: -1em;
    color: rgb(160, 160, 160);
}

.blog-title {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;

}

.blog-image-container {
    text-align: center;
}

.blog-image {

    max-width: 100%;

}

.code-block {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    padding: 10px;
    align-content: center;
    max-width: 100%;
    overflow-x: scroll;
}

.inline-code {
    background-color: rgb(243, 243, 243);
}

code {
    background-color: rgb(243, 243, 243);
}

.image-desc {
    margin-top: -5px;
    size: 5px;
    font-style: italic;
    font-family: 'Roboto Mono';
    color: rgb(160, 160, 160);
    font-size: 13px;
    max-width: 500px;
    margin:0 auto;
}

.description-box {
    align-items: center;
    margin:0 auto;
}

.blog-teaser {
    margin-bottom: 50px;
}

button {
    color: blue; 
}

pre, code {
    max-width: 100%;
}

.blog-button-container {
    margin-top: -15px;
}

.blog-button-container span {
    background-image: -webkit-linear-gradient(left, rgb(161, 151, 255), #585858, #fff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, rgb(161, 151, 255), #585858, #fff);; /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, rgb(161, 151, 255), #585858, #fff);; /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, rgb(161, 151, 255), #585858, #fff);; /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right,rgb(164, 108, 255), rgb(94, 153, 255)); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}



@media only screen 

and (max-device-width : 3000px) 
and (orientation : portrait) {
    #blog-page-content {
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
    }

    .blog-button-container {
        text-align: right;
        margin-right: 1em;
    }

}

@media only screen 

and (max-device-width : 1000px) 
and (orientation : portrait) {
    #blog-page-content {
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
    }

    .blog-button-container {
        text-align: right;
        margin-right: 1.5em;
    }

}