
#blog-page-content {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 2em;
    text-align: left;
}

.blog-header {
    margin: 7px;
}

.blog-secondary-info {
    text-align: left;
    font-family: 'Roboto Mono';
    font-size: 13px;
    padding-left: 2em;
    margin-top: -1em;
    color: rgb(160, 160, 160);
}

.blog-title {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;

}

.blog-image-container {
    text-align: center;
}

.blog-image {

    max-width: 100%;

}

.code-block {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    padding: 10px;
    align-content: center;
    text-align: left;
}

.inline-code {
    background-color: rgb(243, 243, 243);
}

.image-desc {
    margin-top: -5px;
    size: 5px;
    font-style: italic;
    font-family: 'Roboto Mono';
    color: rgb(160, 160, 160);
    font-size: 13px;
    max-width: 500px;
    margin:0 auto;
}

.description-box {
    align-items: center;
    margin:0 auto;
}

.blog-teaser {
    margin-bottom: 50px;
}

button {
    color: blue; 
}



@media only screen 

and (max-device-width : 790px) 
and (orientation : portrait) {
    #blog-page-content {
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
    }

    .blog-button-container {
        text-align: right;
        margin-right: 1em;
    }

}