/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h3, p, button, h5, a {
    font-family: 'Roboto Mono', monospace;
}

.main-content {  align-content: center; text-align: center;}

body {min-width: 100%;}


h1, h2, h4 {
    font-family: 'PT Serif', serif;
}

span {
    text-shadow: 4px 4px 4px #aaa;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: none;
  }
  html, body { height: 100%;  } 
  body {margin: 0; overflow: hidden;}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

// .mat-tab-label, .mat-tab-link {
//     font-weight: 300;
//     color: black;
// }

.main-content div p, h2 {

    margin-left: 1em;
    margin-right: 1em;
}