/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h3, p, span, button, h5, a {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h4 {
    font-family: 'PT Serif', serif;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: none;
  }